In [10]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [11]:
with open('secretos.json', 'r') as file:
    api_key = json.load(file)

alpha_vantage_key = api_key['alpha_vantage']

In [12]:
params = {
    'function': 'TREASURY_YIELD',
    'interval': 'weekly',
    'datatype': 'json',
    'apikey': alpha_vantage_key
}

In [13]:
response = requests.get('https://www.alphavantage.co/query', params=params)

data = response.json()

In [16]:
df = pd.DataFrame(data['data'])

In [21]:
df['value'] = pd.to_numeric(df['value'], errors='coerce')

In [31]:
df2 = df.loc[(df['date'] >= '2004-06-04') & (df['date'] <= '2023-07-28')]
df2 = df2.sort_values(by='date')

In [32]:
df2

            date  value
1001  2004-06-04   4.74
1000  2004-06-11   4.80
999   2004-06-18   4.75
998   2004-06-25   4.69
997   2004-07-02   4.63
...          ...    ...
6     2023-06-30   3.77
5     2023-07-07   3.98
4     2023-07-14   3.89
3     2023-07-21   3.81
2     2023-07-28   3.92

[1000 rows x 2 columns]

In [33]:
df.to_csv('10y_yield.csv')

----------------------------------

In [37]:
params = {
    'function': 'TIME_SERIES_WEEKLY',
    'symbol': 'EURUSD',
    'datatype': 'json',
    'apikey': alpha_vantage_key
}

In [38]:
response = requests.get('https://www.alphavantage.co/query', params=params)
data = response.json()

In [40]:
df = pd.DataFrame.from_dict(data['Weekly Time Series'], orient='index')

# Convierte las columnas en tipos numéricos si es necesario
df = df.apply(pd.to_numeric, errors='ignore')

# Convierte el índice a formato de fecha
df.index = pd.to_datetime(df.index)

In [43]:
df['5. volume']

0